body {
  padding: 1%;
  background-color: black;
  color: #fff;
}

/** {
  border: 1px solid blue;
}*/

.login {
  margin-top: 150px;
  text-align: center;
}

header {
  width: 100%;
  height: 100%;
  text-align: center;
}

h1 {
  font-family: 'Great Vibes', cursive;
  margin-top: 80px;
  color: #fff;
}

#logo {
  height: 70px;
  float: center;
  margin-bottom: -50px;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 5rem;
  color: #fff;
  float: left;
  margin-left: -100px;
  margin-top: -100px;
  display: none;
}

h4 {
  color: #fff;
}

li {
  list-style: none;
}

#game {
  display: none;
  margin-top: 100px;
  color: #fff;
}

#random-word {
  font-family: 'Special Elite', cursive;
  text-align: center;
}

#players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;  
}

#player-names, #scores, #game-info, #result-container {
  text-align: center;
  border: .25px solid white;
  border-radius: 8px;
  background-color: #111;
}

#game-info {
  height: 500px;
}


.player {
  font-size: 2.4rem;
}

#player-input {
  text-align: center;
  padding: 10px;
}

svg {
}
